@model BL.Repartidor


@using (Html.BeginForm("Form", "Repartidor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.HiddenFor(model => model.IdRepartidor)

    <form class="form-control">
        <div class="row" style="margin-left:12rem">
            <div class="col-md-3">
                @Html.LabelFor(model => model.Nombre)
                <br />
                @Html.TextBoxFor(model => model.Nombre)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoPaterno)
                <br />
                @Html.TextBoxFor(model => model.ApellidoPaterno)
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.ApellidoMaterno)
                <br />
                @Html.TextBoxFor(model => model.ApellidoMaterno)
            </div>
           
        </div>

        <div class="row" style="margin-left:20rem;margin-top:5rem">
            <div class="col-md-2">
                @Html.LabelFor(model => model.UnidadEntrega.IdUnidad)
                <br />
                @Html.DropDownListFor(model => model.UnidadEntrega.IdUnidad, new SelectList(Model.UnidadEntrega.Unidades, "IdUnidad", "NumeroPlaca"), "selecciona una Unidad")
            </div>
            
            <div class="col-md-2" style="margin-left:10rem">
                @Html.LabelFor(model => model.Telefono)
                <br />
                @Html.TextBoxFor(model => model.Telefono)
            </div>


        </div>


        <div class="row" style="margin-left:20rem; margin-top:5rem">

            <div class="col-md-2">
                @Html.LabelFor(model => model.FechaIngreso)
                <br />
                @Html.TextBoxFor(model => model.FechaIngreso, new {@type="date"})
            </div>
          

        </div>

        <div class="row" style="margin-left:30rem">
            <div class="col-md-6" style="padding:4rem">
                <button type="submit" class="btn btn-success ">Agregar Repartidor</button>

            </div>

        </div>

    </form>
}